<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="imcoPwsMappingMapper">

	<select id="returnPWSMappingParams" parameterType="String" resultType="com.path.dbmaps.vo.DGTL_GTW_MAPPING_DETAILSVO">
		SELECT MAPPING_ID, SOURCE_KEY, DESTINATION_KEY
		FROM DGTL_GTW_MAPPING_DETAILS
		WHERE MAPPING_ID = #{mapId}
	</select>
	
</mapper>