<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DGTL_ISO_MSGS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.DGTL_ISO_MSGSVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="INT_CODE" property="INT_CODE" />
    <id column="MESSAGE_CODE" property="MESSAGE_CODE" />
    <result column="REQUEST_MTI" property="REQUEST_MTI" />
    <result column="REQUEST_BITMAP1" property="REQUEST_BITMAP1" />
    <result column="REQUEST_BITMAP2" property="REQUEST_BITMAP2" />
    <result column="REQUEST_DESCRIPTION" property="REQUEST_DESCRIPTION" />
    <result column="RESPONSE_MTI" property="RESPONSE_MTI" />
    <result column="RESPONSE_BITMAP1" property="RESPONSE_BITMAP1" />
    <result column="RESPONSE_BITMAP2" property="RESPONSE_BITMAP2" />
    <result column="RESPONSE_DESCRIPTION" property="RESPONSE_DESCRIPTION" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, INT_CODE, MESSAGE_CODE, REQUEST_MTI, REQUEST_BITMAP1, REQUEST_BITMAP2, 
    REQUEST_DESCRIPTION, RESPONSE_MTI, RESPONSE_BITMAP1, RESPONSE_BITMAP2, RESPONSE_DESCRIPTION
  </sql>
  <select id="selectDGTL_ISO_MSGS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.DGTL_ISO_MSGSVO" >
    select 
    <include refid="Base_Column_List" />
    from DGTL_ISO_MSGS
    where COMP_CODE = #{COMP_CODE}
      and INT_CODE = #{INT_CODE}
      and MESSAGE_CODE = #{MESSAGE_CODE}
  </select>
  <delete id="deleteDGTL_ISO_MSGS" parameterType="com.path.dbmaps.vo.DGTL_ISO_MSGSVO" >
    delete from DGTL_ISO_MSGS
    where COMP_CODE = #{COMP_CODE}
      and INT_CODE = #{INT_CODE}
      and MESSAGE_CODE = #{MESSAGE_CODE}
  </delete>
  <insert id="insertDGTL_ISO_MSGS" parameterType="com.path.dbmaps.vo.DGTL_ISO_MSGSVO" >
    insert into DGTL_ISO_MSGS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="INT_CODE != null and INT_CODE != emptyBigDecimalValue" >
        INT_CODE,
      </if>
      <if test="MESSAGE_CODE != null and MESSAGE_CODE != emptyBigDecimalValue" >
        MESSAGE_CODE,
      </if>
      <if test="REQUEST_MTI != null and !&quot;&quot;.equals(REQUEST_MTI)" >
        REQUEST_MTI,
      </if>
      <if test="REQUEST_BITMAP1 != null and !&quot;&quot;.equals(REQUEST_BITMAP1)" >
        REQUEST_BITMAP1,
      </if>
      <if test="REQUEST_BITMAP2 != null and !&quot;&quot;.equals(REQUEST_BITMAP2)" >
        REQUEST_BITMAP2,
      </if>
      <if test="REQUEST_DESCRIPTION != null and !&quot;&quot;.equals(REQUEST_DESCRIPTION)" >
        REQUEST_DESCRIPTION,
      </if>
      <if test="RESPONSE_MTI != null and !&quot;&quot;.equals(RESPONSE_MTI)" >
        RESPONSE_MTI,
      </if>
      <if test="RESPONSE_BITMAP1 != null and !&quot;&quot;.equals(RESPONSE_BITMAP1)" >
        RESPONSE_BITMAP1,
      </if>
      <if test="RESPONSE_BITMAP2 != null and !&quot;&quot;.equals(RESPONSE_BITMAP2)" >
        RESPONSE_BITMAP2,
      </if>
      <if test="RESPONSE_DESCRIPTION != null and !&quot;&quot;.equals(RESPONSE_DESCRIPTION)" >
        RESPONSE_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="INT_CODE != null and INT_CODE != emptyBigDecimalValue" >
        #{INT_CODE},
      </if>
      <if test="MESSAGE_CODE != null and MESSAGE_CODE != emptyBigDecimalValue" >
        #{MESSAGE_CODE},
      </if>
      <if test="REQUEST_MTI != null and !&quot;&quot;.equals(REQUEST_MTI)" >
        #{REQUEST_MTI},
      </if>
      <if test="REQUEST_BITMAP1 != null and !&quot;&quot;.equals(REQUEST_BITMAP1)" >
        #{REQUEST_BITMAP1},
      </if>
      <if test="REQUEST_BITMAP2 != null and !&quot;&quot;.equals(REQUEST_BITMAP2)" >
        #{REQUEST_BITMAP2},
      </if>
      <if test="REQUEST_DESCRIPTION != null and !&quot;&quot;.equals(REQUEST_DESCRIPTION)" >
        #{REQUEST_DESCRIPTION},
      </if>
      <if test="RESPONSE_MTI != null and !&quot;&quot;.equals(RESPONSE_MTI)" >
        #{RESPONSE_MTI},
      </if>
      <if test="RESPONSE_BITMAP1 != null and !&quot;&quot;.equals(RESPONSE_BITMAP1)" >
        #{RESPONSE_BITMAP1},
      </if>
      <if test="RESPONSE_BITMAP2 != null and !&quot;&quot;.equals(RESPONSE_BITMAP2)" >
        #{RESPONSE_BITMAP2},
      </if>
      <if test="RESPONSE_DESCRIPTION != null and !&quot;&quot;.equals(RESPONSE_DESCRIPTION)" >
        #{RESPONSE_DESCRIPTION},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateDGTL_ISO_MSGS" >
    update DGTL_ISO_MSGS
    <set >
      <if test="REQUEST_MTI != null" >
        <choose >
          <when test="REQUEST_MTI.equals(&quot;&quot;)" >
            REQUEST_MTI = NULL ,
          </when>
          <otherwise >
            REQUEST_MTI = #{REQUEST_MTI},
          </otherwise>
        </choose>
      </if>
      <if test="REQUEST_BITMAP1 != null" >
        <choose >
          <when test="REQUEST_BITMAP1.equals(&quot;&quot;)" >
            REQUEST_BITMAP1 = NULL ,
          </when>
          <otherwise >
            REQUEST_BITMAP1 = #{REQUEST_BITMAP1},
          </otherwise>
        </choose>
      </if>
      <if test="REQUEST_BITMAP2 != null" >
        <choose >
          <when test="REQUEST_BITMAP2.equals(&quot;&quot;)" >
            REQUEST_BITMAP2 = NULL ,
          </when>
          <otherwise >
            REQUEST_BITMAP2 = #{REQUEST_BITMAP2},
          </otherwise>
        </choose>
      </if>
      <if test="REQUEST_DESCRIPTION != null" >
        <choose >
          <when test="REQUEST_DESCRIPTION.equals(&quot;&quot;)" >
            REQUEST_DESCRIPTION = NULL ,
          </when>
          <otherwise >
            REQUEST_DESCRIPTION = #{REQUEST_DESCRIPTION},
          </otherwise>
        </choose>
      </if>
      <if test="RESPONSE_MTI != null" >
        <choose >
          <when test="RESPONSE_MTI.equals(&quot;&quot;)" >
            RESPONSE_MTI = NULL ,
          </when>
          <otherwise >
            RESPONSE_MTI = #{RESPONSE_MTI},
          </otherwise>
        </choose>
      </if>
      <if test="RESPONSE_BITMAP1 != null" >
        <choose >
          <when test="RESPONSE_BITMAP1.equals(&quot;&quot;)" >
            RESPONSE_BITMAP1 = NULL ,
          </when>
          <otherwise >
            RESPONSE_BITMAP1 = #{RESPONSE_BITMAP1},
          </otherwise>
        </choose>
      </if>
      <if test="RESPONSE_BITMAP2 != null" >
        <choose >
          <when test="RESPONSE_BITMAP2.equals(&quot;&quot;)" >
            RESPONSE_BITMAP2 = NULL ,
          </when>
          <otherwise >
            RESPONSE_BITMAP2 = #{RESPONSE_BITMAP2},
          </otherwise>
        </choose>
      </if>
      <if test="RESPONSE_DESCRIPTION != null" >
        <choose >
          <when test="RESPONSE_DESCRIPTION.equals(&quot;&quot;)" >
            RESPONSE_DESCRIPTION = NULL ,
          </when>
          <otherwise >
            RESPONSE_DESCRIPTION = #{RESPONSE_DESCRIPTION},
          </otherwise>
        </choose>
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and INT_CODE = #{INT_CODE}
      and MESSAGE_CODE = #{MESSAGE_CODE}
  </sql>
  <update id="updateDGTL_ISO_MSGS" parameterType="com.path.dbmaps.vo.DGTL_ISO_MSGSVO" >
    <include refid="sql_updateDGTL_ISO_MSGS" />
  </update>
</mapper>