<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="IMCO_DYN_FILE_TAG" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.IMCO_DYN_FILE_TAGVO" >
    <id column="TAGS_ID" property="TAGS_ID" />
    <result column="MESSAGE_ID" property="MESSAGE_ID" />
    <result column="JOB_ID" property="JOB_ID" />
    <result column="JOB_TYPE" property="JOB_TYPE" />
    <result column="INDEX_NO" property="INDEX_NO" />
    <result column="START_POS" property="START_POS" />
    <result column="TAG_NAME" property="TAG_NAME" />
    <result column="TAG_VALUE" property="TAG_VALUE" />
    <result column="TAG_LENGTH" property="TAG_LENGTH" />
    <result column="PARENT_PATH" property="PARENT_PATH" />
    <result column="IS_MULTIPLE_YN" property="IS_MULTIPLE_YN" />
    <result column="IS_ATTR_YN" property="IS_ATTR_YN" />
    <result column="TAG_COLOR" property="TAG_COLOR" />
    <result column="EXPRESSION" property="EXPRESSION" />
    <result column="DATA_TYPE" property="DATA_TYPE" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    TAGS_ID, MESSAGE_ID, JOB_ID, JOB_TYPE, INDEX_NO, START_POS, TAG_NAME, TAG_VALUE, 
    TAG_LENGTH, PARENT_PATH, IS_MULTIPLE_YN, IS_ATTR_YN, TAG_COLOR, EXPRESSION, DATA_TYPE, 
    DESCRIPTION, CREATED_BY, CREATED_DATE, MODIFIED_BY, MODIFIED_DATE
  </sql>
  <select id="selectIMCO_DYN_FILE_TAG" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.IMCO_DYN_FILE_TAGVO" >
    select 
    <include refid="Base_Column_List" />
    from IMCO_DYN_FILE_TAG
    where TAGS_ID = #{TAGS_ID}
  </select>
  <delete id="deleteIMCO_DYN_FILE_TAG" parameterType="com.path.dbmaps.vo.IMCO_DYN_FILE_TAGVO" >
    delete from IMCO_DYN_FILE_TAG
    where TAGS_ID = #{TAGS_ID}
  </delete>
  <insert id="insertIMCO_DYN_FILE_TAG" parameterType="com.path.dbmaps.vo.IMCO_DYN_FILE_TAGVO" >
    insert into IMCO_DYN_FILE_TAG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="TAGS_ID != null and TAGS_ID != emptyBigDecimalValue" >
        TAGS_ID,
      </if>
      <if test="MESSAGE_ID != null and MESSAGE_ID != emptyBigDecimalValue" >
        MESSAGE_ID,
      </if>
      <if test="JOB_ID != null and JOB_ID != emptyBigDecimalValue" >
        JOB_ID,
      </if>
      <if test="JOB_TYPE != null" >
        JOB_TYPE,
      </if>
      <if test="INDEX_NO != null and INDEX_NO != emptyBigDecimalValue" >
        INDEX_NO,
      </if>
      <if test="START_POS != null and START_POS != emptyBigDecimalValue" >
        START_POS,
      </if>
      <if test="TAG_NAME != null" >
        TAG_NAME,
      </if>
      <if test="TAG_VALUE != null" >
        TAG_VALUE,
      </if>
      <if test="TAG_LENGTH != null and TAG_LENGTH != emptyBigDecimalValue" >
        TAG_LENGTH,
      </if>
      <if test="PARENT_PATH != null" >
        PARENT_PATH,
      </if>
      <if test="IS_MULTIPLE_YN != null" >
        IS_MULTIPLE_YN,
      </if>
      <if test="IS_ATTR_YN != null" >
        IS_ATTR_YN,
      </if>
      <if test="TAG_COLOR != null" >
        TAG_COLOR,
      </if>
      <if test="EXPRESSION != null" >
        EXPRESSION,
      </if>
      <if test="DATA_TYPE != null" >
        DATA_TYPE,
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="TAGS_ID != null and TAGS_ID != emptyBigDecimalValue" >
        #{TAGS_ID},
      </if>
      <if test="MESSAGE_ID != null and MESSAGE_ID != emptyBigDecimalValue" >
        #{MESSAGE_ID},
      </if>
      <if test="JOB_ID != null and JOB_ID != emptyBigDecimalValue" >
        #{JOB_ID},
      </if>
      <if test="JOB_TYPE != null" >
        #{JOB_TYPE},
      </if>
      <if test="INDEX_NO != null and INDEX_NO != emptyBigDecimalValue" >
        #{INDEX_NO},
      </if>
      <if test="START_POS != null and START_POS != emptyBigDecimalValue" >
        #{START_POS},
      </if>
      <if test="TAG_NAME != null" >
        #{TAG_NAME},
      </if>
      <if test="TAG_VALUE != null" >
        #{TAG_VALUE},
      </if>
      <if test="TAG_LENGTH != null and TAG_LENGTH != emptyBigDecimalValue" >
        #{TAG_LENGTH},
      </if>
      <if test="PARENT_PATH != null" >
        #{PARENT_PATH},
      </if>
      <if test="IS_MULTIPLE_YN != null" >
        #{IS_MULTIPLE_YN},
      </if>
      <if test="IS_ATTR_YN != null" >
        #{IS_ATTR_YN},
      </if>
      <if test="TAG_COLOR != null" >
        #{TAG_COLOR},
      </if>
      <if test="EXPRESSION != null" >
        #{EXPRESSION},
      </if>
      <if test="DATA_TYPE != null" >
        #{DATA_TYPE},
      </if>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION},
      </if>
      <if test="CREATED_BY != null" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateIMCO_DYN_FILE_TAG" >
    update IMCO_DYN_FILE_TAG
    <set >
      <if test="MESSAGE_ID != null" >
        <choose >
          <when test="MESSAGE_ID == emptyBigDecimalValue" >
            MESSAGE_ID = NULL ,
          </when>
          <otherwise >
            MESSAGE_ID = #{MESSAGE_ID},
          </otherwise>
        </choose>
      </if>
      <if test="JOB_ID != null" >
        <choose >
          <when test="JOB_ID == emptyBigDecimalValue" >
            JOB_ID = NULL ,
          </when>
          <otherwise >
            JOB_ID = #{JOB_ID},
          </otherwise>
        </choose>
      </if>
      <if test="JOB_TYPE != null" >
        JOB_TYPE = #{JOB_TYPE},
      </if>
      <if test="INDEX_NO != null" >
        <choose >
          <when test="INDEX_NO == emptyBigDecimalValue" >
            INDEX_NO = NULL ,
          </when>
          <otherwise >
            INDEX_NO = #{INDEX_NO},
          </otherwise>
        </choose>
      </if>
      <if test="START_POS != null" >
        <choose >
          <when test="START_POS == emptyBigDecimalValue" >
            START_POS = NULL ,
          </when>
          <otherwise >
            START_POS = #{START_POS},
          </otherwise>
        </choose>
      </if>
      <if test="TAG_NAME != null" >
        TAG_NAME = #{TAG_NAME},
      </if>
      <if test="TAG_VALUE != null" >
        TAG_VALUE = #{TAG_VALUE},
      </if>
      <if test="TAG_LENGTH != null" >
        <choose >
          <when test="TAG_LENGTH == emptyBigDecimalValue" >
            TAG_LENGTH = NULL ,
          </when>
          <otherwise >
            TAG_LENGTH = #{TAG_LENGTH},
          </otherwise>
        </choose>
      </if>
      <if test="PARENT_PATH != null" >
        PARENT_PATH = #{PARENT_PATH},
      </if>
      <if test="IS_MULTIPLE_YN != null" >
        IS_MULTIPLE_YN = #{IS_MULTIPLE_YN},
      </if>
      <if test="IS_ATTR_YN != null" >
        IS_ATTR_YN = #{IS_ATTR_YN},
      </if>
      <if test="TAG_COLOR != null" >
        TAG_COLOR = #{TAG_COLOR},
      </if>
      <if test="EXPRESSION != null" >
        EXPRESSION = #{EXPRESSION},
      </if>
      <if test="DATA_TYPE != null" >
        DATA_TYPE = #{DATA_TYPE},
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION = #{DESCRIPTION},
      </if>
      <if test="CREATED_BY != null" >
        CREATED_BY = #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        MODIFIED_BY = #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
    </set>
    where TAGS_ID = #{TAGS_ID}
  </sql>
  <update id="updateIMCO_DYN_FILE_TAG" parameterType="com.path.dbmaps.vo.IMCO_DYN_FILE_TAGVO" >
    <include refid="sql_updateIMCO_DYN_FILE_TAG" />
  </update>
</mapper>