<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ISO_INTERFACES" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.ISO_INTERFACESVO" >
    <id column="CODE" property="CODE" />
    <id column="COMP_CODE" property="COMP_CODE" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="ATM_LOG_800" property="ATM_LOG_800" />
    <result column="ATM_LOG_ECHO" property="ATM_LOG_ECHO" />
    <result column="ATM_LOG_REC_MSG" property="ATM_LOG_REC_MSG" />
    <result column="ATM_LOG_SENT_MSG" property="ATM_LOG_SENT_MSG" />
    <result column="ATM_LOG_FILE" property="ATM_LOG_FILE" />
    <result column="ATM_LOG_SENT_FILE" property="ATM_LOG_SENT_FILE" />
    <result column="ATM_LOG_REC_FILE" property="ATM_LOG_REC_FILE" />
    <result column="ATM_RECONNECT_TIME" property="ATM_RECONNECT_TIME" />
    <result column="MSG_SOURCE" property="MSG_SOURCE" />
    <result column="ATM_T_ID" property="ATM_T_ID" />
    <result column="INCLUD_LEN" property="INCLUD_LEN" />
    <result column="LOCK_ACC" property="LOCK_ACC" />
    <result column="BITMAP_TYPE" property="BITMAP_TYPE" />
    <result column="LENGTH_TYPE" property="LENGTH_TYPE" />
    <result column="CURRENT_DATE" property="CURRENT_DATE" />
    <result column="TCP_TYPE" property="TCP_TYPE" />
    <result column="AUTO_LOGON" property="AUTO_LOGON" />
    <result column="MSG_LENGTH" property="MSG_LENGTH" />
    <result column="HEADER_LENGTH" property="HEADER_LENGTH" />
    <result column="ISO_PRESENT" property="ISO_PRESENT" />
    <result column="POS_IN_HEADER" property="POS_IN_HEADER" />
    <result column="ATM_SCRIPT_LOG_FILE" property="ATM_SCRIPT_LOG_FILE" />
    <result column="ATM_LOG_SCRIPT" property="ATM_LOG_SCRIPT" />
    <result column="PCI_COMPLY" property="PCI_COMPLY" />
    <result column="BAL_DOWNLOAD" property="BAL_DOWNLOAD" />
    <result column="SKIP_BITMAP" property="SKIP_BITMAP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, COMP_CODE, DESCRIPTION, ATM_LOG_800, ATM_LOG_ECHO, ATM_LOG_REC_MSG, ATM_LOG_SENT_MSG, 
    ATM_LOG_FILE, ATM_LOG_SENT_FILE, ATM_LOG_REC_FILE, ATM_RECONNECT_TIME, MSG_SOURCE, 
    ATM_T_ID, INCLUD_LEN, LOCK_ACC, BITMAP_TYPE, LENGTH_TYPE, CURRENT_DATE, TCP_TYPE, 
    AUTO_LOGON, MSG_LENGTH, HEADER_LENGTH, ISO_PRESENT, POS_IN_HEADER, ATM_SCRIPT_LOG_FILE, 
    ATM_LOG_SCRIPT, PCI_COMPLY, BAL_DOWNLOAD, SKIP_BITMAP
  </sql>
  <select id="selectISO_INTERFACES" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.ISO_INTERFACESVO" >
    select 
    <include refid="Base_Column_List" />
    from ISO_INTERFACES
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </select>
  <delete id="deleteISO_INTERFACES" parameterType="com.path.dbmaps.vo.ISO_INTERFACESVO" >
    delete from ISO_INTERFACES
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </delete>
  <insert id="insertISO_INTERFACES" parameterType="com.path.dbmaps.vo.ISO_INTERFACESVO" >
    insert into ISO_INTERFACES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        CODE,
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="DESCRIPTION != null and !&quot;&quot;.equals(DESCRIPTION)" >
        DESCRIPTION,
      </if>
      <if test="ATM_LOG_800 != null and ATM_LOG_800 != emptyBigDecimalValue" >
        ATM_LOG_800,
      </if>
      <if test="ATM_LOG_ECHO != null and ATM_LOG_ECHO != emptyBigDecimalValue" >
        ATM_LOG_ECHO,
      </if>
      <if test="ATM_LOG_REC_MSG != null and ATM_LOG_REC_MSG != emptyBigDecimalValue" >
        ATM_LOG_REC_MSG,
      </if>
      <if test="ATM_LOG_SENT_MSG != null and ATM_LOG_SENT_MSG != emptyBigDecimalValue" >
        ATM_LOG_SENT_MSG,
      </if>
      <if test="ATM_LOG_FILE != null and !&quot;&quot;.equals(ATM_LOG_FILE)" >
        ATM_LOG_FILE,
      </if>
      <if test="ATM_LOG_SENT_FILE != null and !&quot;&quot;.equals(ATM_LOG_SENT_FILE)" >
        ATM_LOG_SENT_FILE,
      </if>
      <if test="ATM_LOG_REC_FILE != null and !&quot;&quot;.equals(ATM_LOG_REC_FILE)" >
        ATM_LOG_REC_FILE,
      </if>
      <if test="ATM_RECONNECT_TIME != null and ATM_RECONNECT_TIME != emptyBigDecimalValue" >
        ATM_RECONNECT_TIME,
      </if>
      <if test="MSG_SOURCE != null and MSG_SOURCE != emptyBigDecimalValue" >
        MSG_SOURCE,
      </if>
      <if test="ATM_T_ID != null and ATM_T_ID != emptyBigDecimalValue" >
        ATM_T_ID,
      </if>
      <if test="INCLUD_LEN != null and INCLUD_LEN != emptyBigDecimalValue" >
        INCLUD_LEN,
      </if>
      <if test="LOCK_ACC != null and LOCK_ACC != emptyBigDecimalValue" >
        LOCK_ACC,
      </if>
      <if test="BITMAP_TYPE != null and BITMAP_TYPE != emptyBigDecimalValue" >
        BITMAP_TYPE,
      </if>
      <if test="LENGTH_TYPE != null and LENGTH_TYPE != emptyBigDecimalValue" >
        LENGTH_TYPE,
      </if>
      <if test="CURRENT_DATE != null" >
        CURRENT_DATE,
      </if>
      <if test="TCP_TYPE != null and TCP_TYPE != emptyBigDecimalValue" >
        TCP_TYPE,
      </if>
      <if test="AUTO_LOGON != null and AUTO_LOGON != emptyBigDecimalValue" >
        AUTO_LOGON,
      </if>
      <if test="MSG_LENGTH != null and MSG_LENGTH != emptyBigDecimalValue" >
        MSG_LENGTH,
      </if>
      <if test="HEADER_LENGTH != null and HEADER_LENGTH != emptyBigDecimalValue" >
        HEADER_LENGTH,
      </if>
      <if test="ISO_PRESENT != null and ISO_PRESENT != emptyBigDecimalValue" >
        ISO_PRESENT,
      </if>
      <if test="POS_IN_HEADER != null and POS_IN_HEADER != emptyBigDecimalValue" >
        POS_IN_HEADER,
      </if>
      <if test="ATM_SCRIPT_LOG_FILE != null and !&quot;&quot;.equals(ATM_SCRIPT_LOG_FILE)" >
        ATM_SCRIPT_LOG_FILE,
      </if>
      <if test="ATM_LOG_SCRIPT != null and ATM_LOG_SCRIPT != emptyBigDecimalValue" >
        ATM_LOG_SCRIPT,
      </if>
      <if test="PCI_COMPLY != null and PCI_COMPLY != emptyBigDecimalValue" >
        PCI_COMPLY,
      </if>
      <if test="BAL_DOWNLOAD != null and BAL_DOWNLOAD != emptyBigDecimalValue" >
        BAL_DOWNLOAD,
      </if>
      <if test="SKIP_BITMAP != null and SKIP_BITMAP != emptyBigDecimalValue" >
        SKIP_BITMAP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="CODE != null and CODE != emptyBigDecimalValue" >
        #{CODE},
      </if>
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="DESCRIPTION != null and !&quot;&quot;.equals(DESCRIPTION)" >
        #{DESCRIPTION},
      </if>
      <if test="ATM_LOG_800 != null and ATM_LOG_800 != emptyBigDecimalValue" >
        #{ATM_LOG_800},
      </if>
      <if test="ATM_LOG_ECHO != null and ATM_LOG_ECHO != emptyBigDecimalValue" >
        #{ATM_LOG_ECHO},
      </if>
      <if test="ATM_LOG_REC_MSG != null and ATM_LOG_REC_MSG != emptyBigDecimalValue" >
        #{ATM_LOG_REC_MSG},
      </if>
      <if test="ATM_LOG_SENT_MSG != null and ATM_LOG_SENT_MSG != emptyBigDecimalValue" >
        #{ATM_LOG_SENT_MSG},
      </if>
      <if test="ATM_LOG_FILE != null and !&quot;&quot;.equals(ATM_LOG_FILE)" >
        #{ATM_LOG_FILE},
      </if>
      <if test="ATM_LOG_SENT_FILE != null and !&quot;&quot;.equals(ATM_LOG_SENT_FILE)" >
        #{ATM_LOG_SENT_FILE},
      </if>
      <if test="ATM_LOG_REC_FILE != null and !&quot;&quot;.equals(ATM_LOG_REC_FILE)" >
        #{ATM_LOG_REC_FILE},
      </if>
      <if test="ATM_RECONNECT_TIME != null and ATM_RECONNECT_TIME != emptyBigDecimalValue" >
        #{ATM_RECONNECT_TIME},
      </if>
      <if test="MSG_SOURCE != null and MSG_SOURCE != emptyBigDecimalValue" >
        #{MSG_SOURCE},
      </if>
      <if test="ATM_T_ID != null and ATM_T_ID != emptyBigDecimalValue" >
        #{ATM_T_ID},
      </if>
      <if test="INCLUD_LEN != null and INCLUD_LEN != emptyBigDecimalValue" >
        #{INCLUD_LEN},
      </if>
      <if test="LOCK_ACC != null and LOCK_ACC != emptyBigDecimalValue" >
        #{LOCK_ACC},
      </if>
      <if test="BITMAP_TYPE != null and BITMAP_TYPE != emptyBigDecimalValue" >
        #{BITMAP_TYPE},
      </if>
      <if test="LENGTH_TYPE != null and LENGTH_TYPE != emptyBigDecimalValue" >
        #{LENGTH_TYPE},
      </if>
      <if test="CURRENT_DATE != null" >
        #{CURRENT_DATE},
      </if>
      <if test="TCP_TYPE != null and TCP_TYPE != emptyBigDecimalValue" >
        #{TCP_TYPE},
      </if>
      <if test="AUTO_LOGON != null and AUTO_LOGON != emptyBigDecimalValue" >
        #{AUTO_LOGON},
      </if>
      <if test="MSG_LENGTH != null and MSG_LENGTH != emptyBigDecimalValue" >
        #{MSG_LENGTH},
      </if>
      <if test="HEADER_LENGTH != null and HEADER_LENGTH != emptyBigDecimalValue" >
        #{HEADER_LENGTH},
      </if>
      <if test="ISO_PRESENT != null and ISO_PRESENT != emptyBigDecimalValue" >
        #{ISO_PRESENT},
      </if>
      <if test="POS_IN_HEADER != null and POS_IN_HEADER != emptyBigDecimalValue" >
        #{POS_IN_HEADER},
      </if>
      <if test="ATM_SCRIPT_LOG_FILE != null and !&quot;&quot;.equals(ATM_SCRIPT_LOG_FILE)" >
        #{ATM_SCRIPT_LOG_FILE},
      </if>
      <if test="ATM_LOG_SCRIPT != null and ATM_LOG_SCRIPT != emptyBigDecimalValue" >
        #{ATM_LOG_SCRIPT},
      </if>
      <if test="PCI_COMPLY != null and PCI_COMPLY != emptyBigDecimalValue" >
        #{PCI_COMPLY},
      </if>
      <if test="BAL_DOWNLOAD != null and BAL_DOWNLOAD != emptyBigDecimalValue" >
        #{BAL_DOWNLOAD},
      </if>
      <if test="SKIP_BITMAP != null and SKIP_BITMAP != emptyBigDecimalValue" >
        #{SKIP_BITMAP},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateISO_INTERFACES" >
    update ISO_INTERFACES
    <set >
      <if test="DESCRIPTION != null" >
        <choose >
          <when test="DESCRIPTION.equals(&quot;&quot;)" >
            DESCRIPTION = NULL ,
          </when>
          <otherwise >
            DESCRIPTION = #{DESCRIPTION},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_LOG_800 != null" >
        <choose >
          <when test="ATM_LOG_800 == emptyBigDecimalValue" >
            ATM_LOG_800 = NULL ,
          </when>
          <otherwise >
            ATM_LOG_800 = #{ATM_LOG_800},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_LOG_ECHO != null" >
        <choose >
          <when test="ATM_LOG_ECHO == emptyBigDecimalValue" >
            ATM_LOG_ECHO = NULL ,
          </when>
          <otherwise >
            ATM_LOG_ECHO = #{ATM_LOG_ECHO},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_LOG_REC_MSG != null" >
        <choose >
          <when test="ATM_LOG_REC_MSG == emptyBigDecimalValue" >
            ATM_LOG_REC_MSG = NULL ,
          </when>
          <otherwise >
            ATM_LOG_REC_MSG = #{ATM_LOG_REC_MSG},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_LOG_SENT_MSG != null" >
        <choose >
          <when test="ATM_LOG_SENT_MSG == emptyBigDecimalValue" >
            ATM_LOG_SENT_MSG = NULL ,
          </when>
          <otherwise >
            ATM_LOG_SENT_MSG = #{ATM_LOG_SENT_MSG},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_LOG_FILE != null" >
        <choose >
          <when test="ATM_LOG_FILE.equals(&quot;&quot;)" >
            ATM_LOG_FILE = NULL ,
          </when>
          <otherwise >
            ATM_LOG_FILE = #{ATM_LOG_FILE},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_LOG_SENT_FILE != null" >
        <choose >
          <when test="ATM_LOG_SENT_FILE.equals(&quot;&quot;)" >
            ATM_LOG_SENT_FILE = NULL ,
          </when>
          <otherwise >
            ATM_LOG_SENT_FILE = #{ATM_LOG_SENT_FILE},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_LOG_REC_FILE != null" >
        <choose >
          <when test="ATM_LOG_REC_FILE.equals(&quot;&quot;)" >
            ATM_LOG_REC_FILE = NULL ,
          </when>
          <otherwise >
            ATM_LOG_REC_FILE = #{ATM_LOG_REC_FILE},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_RECONNECT_TIME != null" >
        <choose >
          <when test="ATM_RECONNECT_TIME == emptyBigDecimalValue" >
            ATM_RECONNECT_TIME = NULL ,
          </when>
          <otherwise >
            ATM_RECONNECT_TIME = #{ATM_RECONNECT_TIME},
          </otherwise>
        </choose>
      </if>
      <if test="MSG_SOURCE != null" >
        <choose >
          <when test="MSG_SOURCE == emptyBigDecimalValue" >
            MSG_SOURCE = NULL ,
          </when>
          <otherwise >
            MSG_SOURCE = #{MSG_SOURCE},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_T_ID != null" >
        <choose >
          <when test="ATM_T_ID == emptyBigDecimalValue" >
            ATM_T_ID = NULL ,
          </when>
          <otherwise >
            ATM_T_ID = #{ATM_T_ID},
          </otherwise>
        </choose>
      </if>
      <if test="INCLUD_LEN != null" >
        <choose >
          <when test="INCLUD_LEN == emptyBigDecimalValue" >
            INCLUD_LEN = NULL ,
          </when>
          <otherwise >
            INCLUD_LEN = #{INCLUD_LEN},
          </otherwise>
        </choose>
      </if>
      <if test="LOCK_ACC != null" >
        <choose >
          <when test="LOCK_ACC == emptyBigDecimalValue" >
            LOCK_ACC = NULL ,
          </when>
          <otherwise >
            LOCK_ACC = #{LOCK_ACC},
          </otherwise>
        </choose>
      </if>
      <if test="BITMAP_TYPE != null" >
        <choose >
          <when test="BITMAP_TYPE == emptyBigDecimalValue" >
            BITMAP_TYPE = NULL ,
          </when>
          <otherwise >
            BITMAP_TYPE = #{BITMAP_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="LENGTH_TYPE != null" >
        <choose >
          <when test="LENGTH_TYPE == emptyBigDecimalValue" >
            LENGTH_TYPE = NULL ,
          </when>
          <otherwise >
            LENGTH_TYPE = #{LENGTH_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="CURRENT_DATE != null" >
        CURRENT_DATE = #{CURRENT_DATE},
      </if>
      <if test="TCP_TYPE != null" >
        <choose >
          <when test="TCP_TYPE == emptyBigDecimalValue" >
            TCP_TYPE = NULL ,
          </when>
          <otherwise >
            TCP_TYPE = #{TCP_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="AUTO_LOGON != null" >
        <choose >
          <when test="AUTO_LOGON == emptyBigDecimalValue" >
            AUTO_LOGON = NULL ,
          </when>
          <otherwise >
            AUTO_LOGON = #{AUTO_LOGON},
          </otherwise>
        </choose>
      </if>
      <if test="MSG_LENGTH != null" >
        <choose >
          <when test="MSG_LENGTH == emptyBigDecimalValue" >
            MSG_LENGTH = NULL ,
          </when>
          <otherwise >
            MSG_LENGTH = #{MSG_LENGTH},
          </otherwise>
        </choose>
      </if>
      <if test="HEADER_LENGTH != null" >
        <choose >
          <when test="HEADER_LENGTH == emptyBigDecimalValue" >
            HEADER_LENGTH = NULL ,
          </when>
          <otherwise >
            HEADER_LENGTH = #{HEADER_LENGTH},
          </otherwise>
        </choose>
      </if>
      <if test="ISO_PRESENT != null" >
        <choose >
          <when test="ISO_PRESENT == emptyBigDecimalValue" >
            ISO_PRESENT = NULL ,
          </when>
          <otherwise >
            ISO_PRESENT = #{ISO_PRESENT},
          </otherwise>
        </choose>
      </if>
      <if test="POS_IN_HEADER != null" >
        <choose >
          <when test="POS_IN_HEADER == emptyBigDecimalValue" >
            POS_IN_HEADER = NULL ,
          </when>
          <otherwise >
            POS_IN_HEADER = #{POS_IN_HEADER},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_SCRIPT_LOG_FILE != null" >
        <choose >
          <when test="ATM_SCRIPT_LOG_FILE.equals(&quot;&quot;)" >
            ATM_SCRIPT_LOG_FILE = NULL ,
          </when>
          <otherwise >
            ATM_SCRIPT_LOG_FILE = #{ATM_SCRIPT_LOG_FILE},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_LOG_SCRIPT != null" >
        <choose >
          <when test="ATM_LOG_SCRIPT == emptyBigDecimalValue" >
            ATM_LOG_SCRIPT = NULL ,
          </when>
          <otherwise >
            ATM_LOG_SCRIPT = #{ATM_LOG_SCRIPT},
          </otherwise>
        </choose>
      </if>
      <if test="PCI_COMPLY != null" >
        <choose >
          <when test="PCI_COMPLY == emptyBigDecimalValue" >
            PCI_COMPLY = NULL ,
          </when>
          <otherwise >
            PCI_COMPLY = #{PCI_COMPLY},
          </otherwise>
        </choose>
      </if>
      <if test="BAL_DOWNLOAD != null" >
        <choose >
          <when test="BAL_DOWNLOAD == emptyBigDecimalValue" >
            BAL_DOWNLOAD = NULL ,
          </when>
          <otherwise >
            BAL_DOWNLOAD = #{BAL_DOWNLOAD},
          </otherwise>
        </choose>
      </if>
      <if test="SKIP_BITMAP != null" >
        <choose >
          <when test="SKIP_BITMAP == emptyBigDecimalValue" >
            SKIP_BITMAP = NULL ,
          </when>
          <otherwise >
            SKIP_BITMAP = #{SKIP_BITMAP},
          </otherwise>
        </choose>
      </if>
    </set>
    where CODE = #{CODE}
      and COMP_CODE = #{COMP_CODE}
  </sql>
  <update id="updateISO_INTERFACES" parameterType="com.path.dbmaps.vo.ISO_INTERFACESVO" >
    <include refid="sql_updateISO_INTERFACES" />
  </update>
</mapper>