<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SYNC_INT_LEVELS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SYNC_INT_LEVELSVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="COLUMN_NAME" property="COLUMN_NAME" />
    <id column="DWO_NAME" property="DWO_NAME" />
    <id column="WINDOW_REFERENCE" property="WINDOW_REFERENCE" />
    <result column="WINDOW_NAME" property="WINDOW_NAME" />
    <result column="WINDOW_LABEL" property="WINDOW_LABEL" />
    <result column="DWO_LABEL" property="DWO_LABEL" />
    <result column="COLUMN_LABEL" property="COLUMN_LABEL" />
    <result column="STATUS" property="STATUS" />
    <result column="INT_LEVEL" property="INT_LEVEL" />
    <result column="TIME_OUT" property="TIME_OUT" />
    <result column="COLUMN_NBR" property="COLUMN_NBR" />
    <result column="COLUMN_RELATION_NBR" property="COLUMN_RELATION_NBR" />
    <result column="ALLOW_PROMPT" property="ALLOW_PROMPT" />
  </resultMap>
  <sql id="Base_Column_List" >
    APP_NAME, COLUMN_NAME, DWO_NAME, WINDOW_REFERENCE, WINDOW_NAME, WINDOW_LABEL, DWO_LABEL, 
    COLUMN_LABEL, STATUS, INT_LEVEL, TIME_OUT, COLUMN_NBR, COLUMN_RELATION_NBR, ALLOW_PROMPT
  </sql>
  <select id="selectSYNC_INT_LEVELS" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.SYNC_INT_LEVELSVOKey" >
    select 
    <include refid="Base_Column_List" />
    from SYNC_INT_LEVELS
    where APP_NAME = #{APP_NAME}
      and COLUMN_NAME = #{COLUMN_NAME}
      and DWO_NAME = #{DWO_NAME}
      and WINDOW_REFERENCE = #{WINDOW_REFERENCE}
  </select>
  <delete id="deleteSYNC_INT_LEVELS" parameterType="com.path.dbmaps.vo.SYNC_INT_LEVELSVOKey" >
    delete from SYNC_INT_LEVELS
    where APP_NAME = #{APP_NAME}
      and COLUMN_NAME = #{COLUMN_NAME}
      and DWO_NAME = #{DWO_NAME}
      and WINDOW_REFERENCE = #{WINDOW_REFERENCE}
  </delete>
  <insert id="insertSYNC_INT_LEVELS" parameterType="com.path.dbmaps.vo.SYNC_INT_LEVELSVO" >
    insert into SYNC_INT_LEVELS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        APP_NAME,
      </if>
      <if test="COLUMN_NAME != null" >
        COLUMN_NAME,
      </if>
      <if test="DWO_NAME != null" >
        DWO_NAME,
      </if>
      <if test="WINDOW_REFERENCE != null" >
        WINDOW_REFERENCE,
      </if>
      <if test="WINDOW_NAME != null" >
        WINDOW_NAME,
      </if>
      <if test="WINDOW_LABEL != null" >
        WINDOW_LABEL,
      </if>
      <if test="DWO_LABEL != null" >
        DWO_LABEL,
      </if>
      <if test="COLUMN_LABEL != null" >
        COLUMN_LABEL,
      </if>
      <if test="STATUS != null and STATUS != emptyBigDecimalValue" >
        STATUS,
      </if>
      <if test="INT_LEVEL != null" >
        INT_LEVEL,
      </if>
      <if test="TIME_OUT != null and TIME_OUT != emptyBigDecimalValue" >
        TIME_OUT,
      </if>
      <if test="COLUMN_NBR != null and COLUMN_NBR != emptyBigDecimalValue" >
        COLUMN_NBR,
      </if>
      <if test="COLUMN_RELATION_NBR != null and COLUMN_RELATION_NBR != emptyBigDecimalValue" >
        COLUMN_RELATION_NBR,
      </if>
      <if test="ALLOW_PROMPT != null" >
        ALLOW_PROMPT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null" >
        #{APP_NAME},
      </if>
      <if test="COLUMN_NAME != null" >
        #{COLUMN_NAME},
      </if>
      <if test="DWO_NAME != null" >
        #{DWO_NAME},
      </if>
      <if test="WINDOW_REFERENCE != null" >
        #{WINDOW_REFERENCE},
      </if>
      <if test="WINDOW_NAME != null" >
        #{WINDOW_NAME},
      </if>
      <if test="WINDOW_LABEL != null" >
        #{WINDOW_LABEL},
      </if>
      <if test="DWO_LABEL != null" >
        #{DWO_LABEL},
      </if>
      <if test="COLUMN_LABEL != null" >
        #{COLUMN_LABEL},
      </if>
      <if test="STATUS != null and STATUS != emptyBigDecimalValue" >
        #{STATUS},
      </if>
      <if test="INT_LEVEL != null" >
        #{INT_LEVEL},
      </if>
      <if test="TIME_OUT != null and TIME_OUT != emptyBigDecimalValue" >
        #{TIME_OUT},
      </if>
      <if test="COLUMN_NBR != null and COLUMN_NBR != emptyBigDecimalValue" >
        #{COLUMN_NBR},
      </if>
      <if test="COLUMN_RELATION_NBR != null and COLUMN_RELATION_NBR != emptyBigDecimalValue" >
        #{COLUMN_RELATION_NBR},
      </if>
      <if test="ALLOW_PROMPT != null" >
        #{ALLOW_PROMPT},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSYNC_INT_LEVELS" >
    update SYNC_INT_LEVELS
    <set >
      <if test="WINDOW_NAME != null" >
        WINDOW_NAME = #{WINDOW_NAME},
      </if>
      <if test="WINDOW_LABEL != null" >
        WINDOW_LABEL = #{WINDOW_LABEL},
      </if>
      <if test="DWO_LABEL != null" >
        DWO_LABEL = #{DWO_LABEL},
      </if>
      <if test="COLUMN_LABEL != null" >
        COLUMN_LABEL = #{COLUMN_LABEL},
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS == emptyBigDecimalValue" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="INT_LEVEL != null" >
        INT_LEVEL = #{INT_LEVEL},
      </if>
      <if test="TIME_OUT != null" >
        <choose >
          <when test="TIME_OUT == emptyBigDecimalValue" >
            TIME_OUT = NULL ,
          </when>
          <otherwise >
            TIME_OUT = #{TIME_OUT},
          </otherwise>
        </choose>
      </if>
      <if test="COLUMN_NBR != null" >
        <choose >
          <when test="COLUMN_NBR == emptyBigDecimalValue" >
            COLUMN_NBR = NULL ,
          </when>
          <otherwise >
            COLUMN_NBR = #{COLUMN_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="COLUMN_RELATION_NBR != null" >
        <choose >
          <when test="COLUMN_RELATION_NBR == emptyBigDecimalValue" >
            COLUMN_RELATION_NBR = NULL ,
          </when>
          <otherwise >
            COLUMN_RELATION_NBR = #{COLUMN_RELATION_NBR},
          </otherwise>
        </choose>
      </if>
      <if test="ALLOW_PROMPT != null" >
        ALLOW_PROMPT = #{ALLOW_PROMPT},
      </if>
    </set>
    where APP_NAME = #{APP_NAME}
      and COLUMN_NAME = #{COLUMN_NAME}
      and DWO_NAME = #{DWO_NAME}
      and WINDOW_REFERENCE = #{WINDOW_REFERENCE}
  </sql>
  <update id="updateSYNC_INT_LEVELS" parameterType="com.path.dbmaps.vo.SYNC_INT_LEVELSVO" >
    <include refid="sql_updateSYNC_INT_LEVELS" />
  </update>
</mapper>