<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SYNC_BRANCH" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SYNC_BRANCHVO" >
    <id column="BR_CODE" property="BR_CODE" />
    <result column="DESCRIPTION" property="DESCRIPTION" />
    <result column="BR_TYPE" property="BR_TYPE" />
    <result column="EMAIL1" property="EMAIL1" />
    <result column="EMAIL2" property="EMAIL2" />
    <result column="EMAIL3" property="EMAIL3" />
    <result column="EMAIL4" property="EMAIL4" />
    <result column="EMAIL5" property="EMAIL5" />
    <result column="MESSAGE1" property="MESSAGE1" />
    <result column="SUBJECT" property="SUBJECT" />
    <result column="IP_ADDRESS" property="IP_ADDRESS" />
    <result column="SERVICE_NAME" property="SERVICE_NAME" />
    <result column="RDBMS_TYPE" property="RDBMS_TYPE" />
    <result column="EXT_RDBMS" property="EXT_RDBMS" />
    <result column="SB_IND" property="SB_IND" />
    <result column="BR_STATUS" property="BR_STATUS" />
    <result column="SUSPEND_BR" property="SUSPEND_BR" />
    <result column="BYPASS_BR_STATUS" property="BYPASS_BR_STATUS" />
    <result column="ORDER_FLAG" property="ORDER_FLAG" />
    <result column="DBLINK_NAME" property="DBLINK_NAME" />
    <result column="ERR_SUBJECT" property="ERR_SUBJECT" />
    <result column="ERR_MESSAGE" property="ERR_MESSAGE" />
    <result column="VR_MODE" property="VR_MODE" />
    <result column="GENERATE_DML" property="GENERATE_DML" />
    <result column="VR_HOST_BR" property="VR_HOST_BR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BR_CODE, DESCRIPTION, BR_TYPE, EMAIL1, EMAIL2, EMAIL3, EMAIL4, EMAIL5, MESSAGE1, 
    SUBJECT, IP_ADDRESS, SERVICE_NAME, RDBMS_TYPE, EXT_RDBMS, SB_IND, BR_STATUS, SUSPEND_BR, 
    BYPASS_BR_STATUS, ORDER_FLAG, DBLINK_NAME, ERR_SUBJECT, ERR_MESSAGE, VR_MODE, GENERATE_DML, 
    VR_HOST_BR
  </sql>
  <select id="selectSYNC_BRANCH" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.SYNC_BRANCHVOKey" >
    select 
    <include refid="Base_Column_List" />
    from SYNC_BRANCH
    where BR_CODE = #{BR_CODE}
  </select>
  <delete id="deleteSYNC_BRANCH" parameterType="com.path.dbmaps.vo.SYNC_BRANCHVOKey" >
    delete from SYNC_BRANCH
    where BR_CODE = #{BR_CODE}
  </delete>
  <insert id="insertSYNC_BRANCH" parameterType="com.path.dbmaps.vo.SYNC_BRANCHVO" >
    insert into SYNC_BRANCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BR_CODE != null and BR_CODE != emptyBigDecimalValue" >
        BR_CODE,
      </if>
      <if test="DESCRIPTION != null" >
        DESCRIPTION,
      </if>
      <if test="BR_TYPE != null" >
        BR_TYPE,
      </if>
      <if test="EMAIL1 != null" >
        EMAIL1,
      </if>
      <if test="EMAIL2 != null" >
        EMAIL2,
      </if>
      <if test="EMAIL3 != null" >
        EMAIL3,
      </if>
      <if test="EMAIL4 != null" >
        EMAIL4,
      </if>
      <if test="EMAIL5 != null" >
        EMAIL5,
      </if>
      <if test="MESSAGE1 != null" >
        MESSAGE1,
      </if>
      <if test="SUBJECT != null" >
        SUBJECT,
      </if>
      <if test="IP_ADDRESS != null" >
        IP_ADDRESS,
      </if>
      <if test="SERVICE_NAME != null" >
        SERVICE_NAME,
      </if>
      <if test="RDBMS_TYPE != null and RDBMS_TYPE != emptyBigDecimalValue" >
        RDBMS_TYPE,
      </if>
      <if test="EXT_RDBMS != null and EXT_RDBMS != emptyBigDecimalValue" >
        EXT_RDBMS,
      </if>
      <if test="SB_IND != null" >
        SB_IND,
      </if>
      <if test="BR_STATUS != null and BR_STATUS != emptyBigDecimalValue" >
        BR_STATUS,
      </if>
      <if test="SUSPEND_BR != null and SUSPEND_BR != emptyBigDecimalValue" >
        SUSPEND_BR,
      </if>
      <if test="BYPASS_BR_STATUS != null and BYPASS_BR_STATUS != emptyBigDecimalValue" >
        BYPASS_BR_STATUS,
      </if>
      <if test="ORDER_FLAG != null" >
        ORDER_FLAG,
      </if>
      <if test="DBLINK_NAME != null" >
        DBLINK_NAME,
      </if>
      <if test="ERR_SUBJECT != null" >
        ERR_SUBJECT,
      </if>
      <if test="ERR_MESSAGE != null" >
        ERR_MESSAGE,
      </if>
      <if test="VR_MODE != null and VR_MODE != emptyBigDecimalValue" >
        VR_MODE,
      </if>
      <if test="GENERATE_DML != null and GENERATE_DML != emptyBigDecimalValue" >
        GENERATE_DML,
      </if>
      <if test="VR_HOST_BR != null and VR_HOST_BR != emptyBigDecimalValue" >
        VR_HOST_BR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BR_CODE != null and BR_CODE != emptyBigDecimalValue" >
        #{BR_CODE},
      </if>
      <if test="DESCRIPTION != null" >
        #{DESCRIPTION},
      </if>
      <if test="BR_TYPE != null" >
        #{BR_TYPE},
      </if>
      <if test="EMAIL1 != null" >
        #{EMAIL1},
      </if>
      <if test="EMAIL2 != null" >
        #{EMAIL2},
      </if>
      <if test="EMAIL3 != null" >
        #{EMAIL3},
      </if>
      <if test="EMAIL4 != null" >
        #{EMAIL4},
      </if>
      <if test="EMAIL5 != null" >
        #{EMAIL5},
      </if>
      <if test="MESSAGE1 != null" >
        #{MESSAGE1},
      </if>
      <if test="SUBJECT != null" >
        #{SUBJECT},
      </if>
      <if test="IP_ADDRESS != null" >
        #{IP_ADDRESS},
      </if>
      <if test="SERVICE_NAME != null" >
        #{SERVICE_NAME},
      </if>
      <if test="RDBMS_TYPE != null and RDBMS_TYPE != emptyBigDecimalValue" >
        #{RDBMS_TYPE},
      </if>
      <if test="EXT_RDBMS != null and EXT_RDBMS != emptyBigDecimalValue" >
        #{EXT_RDBMS},
      </if>
      <if test="SB_IND != null" >
        #{SB_IND},
      </if>
      <if test="BR_STATUS != null and BR_STATUS != emptyBigDecimalValue" >
        #{BR_STATUS},
      </if>
      <if test="SUSPEND_BR != null and SUSPEND_BR != emptyBigDecimalValue" >
        #{SUSPEND_BR},
      </if>
      <if test="BYPASS_BR_STATUS != null and BYPASS_BR_STATUS != emptyBigDecimalValue" >
        #{BYPASS_BR_STATUS},
      </if>
      <if test="ORDER_FLAG != null" >
        #{ORDER_FLAG},
      </if>
      <if test="DBLINK_NAME != null" >
        #{DBLINK_NAME},
      </if>
      <if test="ERR_SUBJECT != null" >
        #{ERR_SUBJECT},
      </if>
      <if test="ERR_MESSAGE != null" >
        #{ERR_MESSAGE},
      </if>
      <if test="VR_MODE != null and VR_MODE != emptyBigDecimalValue" >
        #{VR_MODE},
      </if>
      <if test="GENERATE_DML != null and GENERATE_DML != emptyBigDecimalValue" >
        #{GENERATE_DML},
      </if>
      <if test="VR_HOST_BR != null and VR_HOST_BR != emptyBigDecimalValue" >
        #{VR_HOST_BR},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSYNC_BRANCH" >
    update SYNC_BRANCH
    <set >
      <if test="DESCRIPTION != null" >
        DESCRIPTION = #{DESCRIPTION},
      </if>
      <if test="BR_TYPE != null" >
        BR_TYPE = #{BR_TYPE},
      </if>
      <if test="EMAIL1 != null" >
        EMAIL1 = #{EMAIL1},
      </if>
      <if test="EMAIL2 != null" >
        EMAIL2 = #{EMAIL2},
      </if>
      <if test="EMAIL3 != null" >
        EMAIL3 = #{EMAIL3},
      </if>
      <if test="EMAIL4 != null" >
        EMAIL4 = #{EMAIL4},
      </if>
      <if test="EMAIL5 != null" >
        EMAIL5 = #{EMAIL5},
      </if>
      <if test="MESSAGE1 != null" >
        MESSAGE1 = #{MESSAGE1},
      </if>
      <if test="SUBJECT != null" >
        SUBJECT = #{SUBJECT},
      </if>
      <if test="IP_ADDRESS != null" >
        IP_ADDRESS = #{IP_ADDRESS},
      </if>
      <if test="SERVICE_NAME != null" >
        SERVICE_NAME = #{SERVICE_NAME},
      </if>
      <if test="RDBMS_TYPE != null" >
        <choose >
          <when test="RDBMS_TYPE == emptyBigDecimalValue" >
            RDBMS_TYPE = NULL ,
          </when>
          <otherwise >
            RDBMS_TYPE = #{RDBMS_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="EXT_RDBMS != null" >
        <choose >
          <when test="EXT_RDBMS == emptyBigDecimalValue" >
            EXT_RDBMS = NULL ,
          </when>
          <otherwise >
            EXT_RDBMS = #{EXT_RDBMS},
          </otherwise>
        </choose>
      </if>
      <if test="SB_IND != null" >
        SB_IND = #{SB_IND},
      </if>
      <if test="BR_STATUS != null" >
        <choose >
          <when test="BR_STATUS == emptyBigDecimalValue" >
            BR_STATUS = NULL ,
          </when>
          <otherwise >
            BR_STATUS = #{BR_STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="SUSPEND_BR != null" >
        <choose >
          <when test="SUSPEND_BR == emptyBigDecimalValue" >
            SUSPEND_BR = NULL ,
          </when>
          <otherwise >
            SUSPEND_BR = #{SUSPEND_BR},
          </otherwise>
        </choose>
      </if>
      <if test="BYPASS_BR_STATUS != null" >
        <choose >
          <when test="BYPASS_BR_STATUS == emptyBigDecimalValue" >
            BYPASS_BR_STATUS = NULL ,
          </when>
          <otherwise >
            BYPASS_BR_STATUS = #{BYPASS_BR_STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="ORDER_FLAG != null" >
        ORDER_FLAG = #{ORDER_FLAG},
      </if>
      <if test="DBLINK_NAME != null" >
        DBLINK_NAME = #{DBLINK_NAME},
      </if>
      <if test="ERR_SUBJECT != null" >
        ERR_SUBJECT = #{ERR_SUBJECT},
      </if>
      <if test="ERR_MESSAGE != null" >
        ERR_MESSAGE = #{ERR_MESSAGE},
      </if>
      <if test="VR_MODE != null" >
        <choose >
          <when test="VR_MODE == emptyBigDecimalValue" >
            VR_MODE = NULL ,
          </when>
          <otherwise >
            VR_MODE = #{VR_MODE},
          </otherwise>
        </choose>
      </if>
      <if test="GENERATE_DML != null" >
        <choose >
          <when test="GENERATE_DML == emptyBigDecimalValue" >
            GENERATE_DML = NULL ,
          </when>
          <otherwise >
            GENERATE_DML = #{GENERATE_DML},
          </otherwise>
        </choose>
      </if>
      <if test="VR_HOST_BR != null" >
        <choose >
          <when test="VR_HOST_BR == emptyBigDecimalValue" >
            VR_HOST_BR = NULL ,
          </when>
          <otherwise >
            VR_HOST_BR = #{VR_HOST_BR},
          </otherwise>
        </choose>
      </if>
    </set>
    where BR_CODE = #{BR_CODE}
  </sql>
  <update id="updateSYNC_BRANCH" parameterType="com.path.dbmaps.vo.SYNC_BRANCHVO" >
    <include refid="sql_updateSYNC_BRANCH" />
  </update>
</mapper>