<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SYNC_COL_MAPPING" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SYNC_COL_MAPPINGVO" >
    <id column="BR_CODE" property="BR_CODE" />
    <id column="COL_NBR" property="COL_NBR" />
    <id column="ENTITY_CODE" property="ENTITY_CODE" />
    <result column="FROM_COL" property="FROM_COL" />
    <result column="FROM_LABEL" property="FROM_LABEL" />
    <result column="TO_COL" property="TO_COL" />
    <result column="TO_LABEL" property="TO_LABEL" />
    <result column="IN_OUT" property="IN_OUT" />
    <result column="COL_TYPE" property="COL_TYPE" />
    <result column="ACTION" property="ACTION" />
    <result column="COL_DEFAULT" property="COL_DEFAULT" />
    <result column="API_CODE" property="API_CODE" />
    <result column="VALUE_SUCCESS" property="VALUE_SUCCESS" />
    <result column="VALUE_ERROR" property="VALUE_ERROR" />
    <result column="MSG_TYPE" property="MSG_TYPE" />
  </resultMap>
  <sql id="Base_Column_List" >
    BR_CODE, COL_NBR, ENTITY_CODE, FROM_COL, FROM_LABEL, TO_COL, TO_LABEL, IN_OUT, COL_TYPE, 
    ACTION, COL_DEFAULT, API_CODE, VALUE_SUCCESS, VALUE_ERROR, MSG_TYPE
  </sql>
  <select id="selectSYNC_COL_MAPPING" resultMap="BaseResultMap" parameterType="com.path.dbmaps.vo.SYNC_COL_MAPPINGVOKey" >
    select 
    <include refid="Base_Column_List" />
    from SYNC_COL_MAPPING
    where BR_CODE = #{BR_CODE}
      and COL_NBR = #{COL_NBR}
      and ENTITY_CODE = #{ENTITY_CODE}
  </select>
  <delete id="deleteSYNC_COL_MAPPING" parameterType="com.path.dbmaps.vo.SYNC_COL_MAPPINGVOKey" >
    delete from SYNC_COL_MAPPING
    where BR_CODE = #{BR_CODE}
      and COL_NBR = #{COL_NBR}
      and ENTITY_CODE = #{ENTITY_CODE}
  </delete>
  <insert id="insertSYNC_COL_MAPPING" parameterType="com.path.dbmaps.vo.SYNC_COL_MAPPINGVO" >
    insert into SYNC_COL_MAPPING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BR_CODE != null" >
        BR_CODE,
      </if>
      <if test="COL_NBR != null" >
        COL_NBR,
      </if>
      <if test="ENTITY_CODE != null" >
        ENTITY_CODE,
      </if>
      <if test="FROM_COL != null" >
        FROM_COL,
      </if>
      <if test="FROM_LABEL != null" >
        FROM_LABEL,
      </if>
      <if test="TO_COL != null" >
        TO_COL,
      </if>
      <if test="TO_LABEL != null" >
        TO_LABEL,
      </if>
      <if test="IN_OUT != null" >
        IN_OUT,
      </if>
      <if test="COL_TYPE != null" >
        COL_TYPE,
      </if>
      <if test="ACTION != null" >
        ACTION,
      </if>
      <if test="COL_DEFAULT != null" >
        COL_DEFAULT,
      </if>
      <if test="API_CODE != null and API_CODE != emptyBigDecimalValue" >
        API_CODE,
      </if>
      <if test="VALUE_SUCCESS != null" >
        VALUE_SUCCESS,
      </if>
      <if test="VALUE_ERROR != null" >
        VALUE_ERROR,
      </if>
      <if test="MSG_TYPE != null" >
        MSG_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BR_CODE != null" >
        #{BR_CODE},
      </if>
      <if test="COL_NBR != null" >
        #{COL_NBR},
      </if>
      <if test="ENTITY_CODE != null" >
        #{ENTITY_CODE},
      </if>
      <if test="FROM_COL != null" >
        #{FROM_COL},
      </if>
      <if test="FROM_LABEL != null" >
        #{FROM_LABEL},
      </if>
      <if test="TO_COL != null" >
        #{TO_COL},
      </if>
      <if test="TO_LABEL != null" >
        #{TO_LABEL},
      </if>
      <if test="IN_OUT != null" >
        #{IN_OUT},
      </if>
      <if test="COL_TYPE != null" >
        #{COL_TYPE},
      </if>
      <if test="ACTION != null" >
        #{ACTION},
      </if>
      <if test="COL_DEFAULT != null" >
        #{COL_DEFAULT},
      </if>
      <if test="API_CODE != null and API_CODE != emptyBigDecimalValue" >
        #{API_CODE},
      </if>
      <if test="VALUE_SUCCESS != null" >
        #{VALUE_SUCCESS},
      </if>
      <if test="VALUE_ERROR != null" >
        #{VALUE_ERROR},
      </if>
      <if test="MSG_TYPE != null" >
        #{MSG_TYPE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSYNC_COL_MAPPING" >
    update SYNC_COL_MAPPING
    <set >
      <if test="FROM_COL != null" >
        FROM_COL = #{FROM_COL},
      </if>
      <if test="FROM_LABEL != null" >
        FROM_LABEL = #{FROM_LABEL},
      </if>
      <if test="TO_COL != null" >
        TO_COL = #{TO_COL},
      </if>
      <if test="TO_LABEL != null" >
        TO_LABEL = #{TO_LABEL},
      </if>
      <if test="IN_OUT != null" >
        IN_OUT = #{IN_OUT},
      </if>
      <if test="COL_TYPE != null" >
        COL_TYPE = #{COL_TYPE},
      </if>
      <if test="ACTION != null" >
        ACTION = #{ACTION},
      </if>
      <if test="COL_DEFAULT != null" >
        COL_DEFAULT = #{COL_DEFAULT},
      </if>
      <if test="API_CODE != null" >
        <choose >
          <when test="API_CODE == emptyBigDecimalValue" >
            API_CODE = NULL ,
          </when>
          <otherwise >
            API_CODE = #{API_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="VALUE_SUCCESS != null" >
        VALUE_SUCCESS = #{VALUE_SUCCESS},
      </if>
      <if test="VALUE_ERROR != null" >
        VALUE_ERROR = #{VALUE_ERROR},
      </if>
      <if test="MSG_TYPE != null" >
        MSG_TYPE = #{MSG_TYPE},
      </if>
    </set>
    where BR_CODE = #{BR_CODE}
      and COL_NBR = #{COL_NBR}
      and ENTITY_CODE = #{ENTITY_CODE}
  </sql>
  <update id="updateSYNC_COL_MAPPING" parameterType="com.path.dbmaps.vo.SYNC_COL_MAPPINGVO" >
    <include refid="sql_updateSYNC_COL_MAPPING" />
  </update>
</mapper>