<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SYNC_ENTITY_PARAMETERS" >
  <resultMap id="BaseResultMap" type="com.path.dbmaps.vo.SYNC_ENTITY_PARAMETERSVO" >
    <id column="BR_CODE" property="BR_CODE" />
    <id column="ENTITY_CODE" property="ENTITY_CODE" />
    <result column="TO_BR" property="TO_BR" />
    <result column="REPL_TYPE" property="REPL_TYPE" />
    <result column="REPL_DATETIME" property="REPL_DATETIME" />
    <result column="PERIOD" property="PERIOD" />
    <result column="PERIOD_TYPE" property="PERIOD_TYPE" />
    <result column="WHO_WINS" property="WHO_WINS" />
    <result column="ENABLE_TRIGGER" property="ENABLE_TRIGGER" />
    <result column="ENTITY_NAME" property="ENTITY_NAME" />
    <result column="SP_NAME" property="SP_NAME" />
    <result column="ENTITY_TYPE" property="ENTITY_TYPE" />
    <result column="SYS_REPLICATION" property="SYS_REPLICATION" />
    <result column="ERR_SUSPENDED" property="ERR_SUSPENDED" />
    <result column="ERR_PERIOD" property="ERR_PERIOD" />
    <result column="ERR_PERIOD_TYPE" property="ERR_PERIOD_TYPE" />
    <result column="ERR_STOP_AFTER" property="ERR_STOP_AFTER" />
    <result column="PERIOD_DAY" property="PERIOD_DAY" />
    <result column="REPL_INSERT" property="REPL_INSERT" />
    <result column="REPL_UPDATE" property="REPL_UPDATE" />
    <result column="REPL_DELETE" property="REPL_DELETE" />
    <result column="POP_INSERT" property="POP_INSERT" />
    <result column="POP_UPDATE" property="POP_UPDATE" />
    <result column="POP_DELETE" property="POP_DELETE" />
    <result column="TIME_OUT" property="TIME_OUT" />
    <result column="ADD_DATE1" property="ADD_DATE1" />
    <result column="ADD_NUMBER1" property="ADD_NUMBER1" />
    <result column="ADD_STRING1" property="ADD_STRING1" />
    <result column="RELATIVE_FLAG" property="RELATIVE_FLAG" />
    <result column="INT_LEVEL" property="INT_LEVEL" />
    <result column="EXT_SP_NAME" property="EXT_SP_NAME" />
    <result column="ENTITY_ORDER" property="ENTITY_ORDER" />
    <result column="ERR_PROMPT" property="ERR_PROMPT" />
    <result column="ERR_TYPE" property="ERR_TYPE" />
    <result column="UPD_CNT_FLAG" property="UPD_CNT_FLAG" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.path.dbmaps.vo.SYNC_ENTITY_PARAMETERSVOWithBLOBs" extends="BaseResultMap" >
    <result column="SP_SPECIFICATIONS" property="SP_SPECIFICATIONS" />
    <result column="QUERY_SPECIFICATIONS" property="QUERY_SPECIFICATIONS" />
    <result column="QUERY_SPECIFICATIONS1" property="QUERY_SPECIFICATIONS1" />
    <result column="QUERY_SPECIFICATIONS2" property="QUERY_SPECIFICATIONS2" />
    <result column="QUERY_SPECIFICATIONS3" property="QUERY_SPECIFICATIONS3" />
    <result column="CRITERIA" property="CRITERIA" />
    <result column="TMP_COLUMNS" property="TMP_COLUMNS" />
  </resultMap>
  <sql id="Base_Column_List" >
    BR_CODE, ENTITY_CODE, TO_BR, REPL_TYPE, REPL_DATETIME, PERIOD, PERIOD_TYPE, WHO_WINS, 
    ENABLE_TRIGGER, ENTITY_NAME, SP_NAME, ENTITY_TYPE, SYS_REPLICATION, ERR_SUSPENDED, 
    ERR_PERIOD, ERR_PERIOD_TYPE, ERR_STOP_AFTER, PERIOD_DAY, REPL_INSERT, REPL_UPDATE, 
    REPL_DELETE, POP_INSERT, POP_UPDATE, POP_DELETE, TIME_OUT, ADD_DATE1, ADD_NUMBER1, 
    ADD_STRING1, RELATIVE_FLAG, INT_LEVEL, EXT_SP_NAME, ENTITY_ORDER, ERR_PROMPT, ERR_TYPE, 
    UPD_CNT_FLAG
  </sql>
  <sql id="Blob_Column_List" >
    SP_SPECIFICATIONS, QUERY_SPECIFICATIONS, QUERY_SPECIFICATIONS1, QUERY_SPECIFICATIONS2, 
    QUERY_SPECIFICATIONS3, CRITERIA, TMP_COLUMNS
  </sql>
  <select id="selectSYNC_ENTITY_PARAMETERS" resultMap="ResultMapWithBLOBs" parameterType="com.path.dbmaps.vo.SYNC_ENTITY_PARAMETERSVOKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SYNC_ENTITY_PARAMETERS
    where BR_CODE = #{BR_CODE}
      and ENTITY_CODE = #{ENTITY_CODE}
  </select>
  <delete id="deleteSYNC_ENTITY_PARAMETERS" parameterType="com.path.dbmaps.vo.SYNC_ENTITY_PARAMETERSVOKey" >
    delete from SYNC_ENTITY_PARAMETERS
    where BR_CODE = #{BR_CODE}
      and ENTITY_CODE = #{ENTITY_CODE}
  </delete>
  <insert id="insertSYNC_ENTITY_PARAMETERS" parameterType="com.path.dbmaps.vo.SYNC_ENTITY_PARAMETERSVOWithBLOBs" >
    insert into SYNC_ENTITY_PARAMETERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="BR_CODE != null and BR_CODE != emptyBigDecimalValue" >
        BR_CODE,
      </if>
      <if test="ENTITY_CODE != null and ENTITY_CODE != emptyBigDecimalValue" >
        ENTITY_CODE,
      </if>
      <if test="TO_BR != null and TO_BR != emptyBigDecimalValue" >
        TO_BR,
      </if>
      <if test="REPL_TYPE != null and REPL_TYPE != emptyBigDecimalValue" >
        REPL_TYPE,
      </if>
      <if test="REPL_DATETIME != null" >
        REPL_DATETIME,
      </if>
      <if test="PERIOD != null and PERIOD != emptyBigDecimalValue" >
        PERIOD,
      </if>
      <if test="PERIOD_TYPE != null" >
        PERIOD_TYPE,
      </if>
      <if test="WHO_WINS != null" >
        WHO_WINS,
      </if>
      <if test="ENABLE_TRIGGER != null" >
        ENABLE_TRIGGER,
      </if>
      <if test="ENTITY_NAME != null" >
        ENTITY_NAME,
      </if>
      <if test="SP_NAME != null" >
        SP_NAME,
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE,
      </if>
      <if test="SYS_REPLICATION != null" >
        SYS_REPLICATION,
      </if>
      <if test="ERR_SUSPENDED != null" >
        ERR_SUSPENDED,
      </if>
      <if test="ERR_PERIOD != null and ERR_PERIOD != emptyBigDecimalValue" >
        ERR_PERIOD,
      </if>
      <if test="ERR_PERIOD_TYPE != null" >
        ERR_PERIOD_TYPE,
      </if>
      <if test="ERR_STOP_AFTER != null and ERR_STOP_AFTER != emptyBigDecimalValue" >
        ERR_STOP_AFTER,
      </if>
      <if test="PERIOD_DAY != null and PERIOD_DAY != emptyBigDecimalValue" >
        PERIOD_DAY,
      </if>
      <if test="REPL_INSERT != null and REPL_INSERT != emptyBigDecimalValue" >
        REPL_INSERT,
      </if>
      <if test="REPL_UPDATE != null and REPL_UPDATE != emptyBigDecimalValue" >
        REPL_UPDATE,
      </if>
      <if test="REPL_DELETE != null and REPL_DELETE != emptyBigDecimalValue" >
        REPL_DELETE,
      </if>
      <if test="POP_INSERT != null and POP_INSERT != emptyBigDecimalValue" >
        POP_INSERT,
      </if>
      <if test="POP_UPDATE != null and POP_UPDATE != emptyBigDecimalValue" >
        POP_UPDATE,
      </if>
      <if test="POP_DELETE != null and POP_DELETE != emptyBigDecimalValue" >
        POP_DELETE,
      </if>
      <if test="TIME_OUT != null and TIME_OUT != emptyBigDecimalValue" >
        TIME_OUT,
      </if>
      <if test="ADD_DATE1 != null" >
        ADD_DATE1,
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        ADD_NUMBER1,
      </if>
      <if test="ADD_STRING1 != null" >
        ADD_STRING1,
      </if>
      <if test="RELATIVE_FLAG != null and RELATIVE_FLAG != emptyBigDecimalValue" >
        RELATIVE_FLAG,
      </if>
      <if test="INT_LEVEL != null" >
        INT_LEVEL,
      </if>
      <if test="EXT_SP_NAME != null" >
        EXT_SP_NAME,
      </if>
      <if test="ENTITY_ORDER != null and ENTITY_ORDER != emptyBigDecimalValue" >
        ENTITY_ORDER,
      </if>
      <if test="ERR_PROMPT != null and ERR_PROMPT != emptyBigDecimalValue" >
        ERR_PROMPT,
      </if>
      <if test="ERR_TYPE != null and ERR_TYPE != emptyBigDecimalValue" >
        ERR_TYPE,
      </if>
      <if test="UPD_CNT_FLAG != null and UPD_CNT_FLAG != emptyBigDecimalValue" >
        UPD_CNT_FLAG,
      </if>
      <if test="SP_SPECIFICATIONS != null" >
        SP_SPECIFICATIONS,
      </if>
      <if test="QUERY_SPECIFICATIONS != null" >
        QUERY_SPECIFICATIONS,
      </if>
      <if test="QUERY_SPECIFICATIONS1 != null" >
        QUERY_SPECIFICATIONS1,
      </if>
      <if test="QUERY_SPECIFICATIONS2 != null" >
        QUERY_SPECIFICATIONS2,
      </if>
      <if test="QUERY_SPECIFICATIONS3 != null" >
        QUERY_SPECIFICATIONS3,
      </if>
      <if test="CRITERIA != null" >
        CRITERIA,
      </if>
      <if test="TMP_COLUMNS != null" >
        TMP_COLUMNS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="BR_CODE != null and BR_CODE != emptyBigDecimalValue" >
        #{BR_CODE},
      </if>
      <if test="ENTITY_CODE != null and ENTITY_CODE != emptyBigDecimalValue" >
        #{ENTITY_CODE},
      </if>
      <if test="TO_BR != null and TO_BR != emptyBigDecimalValue" >
        #{TO_BR},
      </if>
      <if test="REPL_TYPE != null and REPL_TYPE != emptyBigDecimalValue" >
        #{REPL_TYPE},
      </if>
      <if test="REPL_DATETIME != null" >
        #{REPL_DATETIME},
      </if>
      <if test="PERIOD != null and PERIOD != emptyBigDecimalValue" >
        #{PERIOD},
      </if>
      <if test="PERIOD_TYPE != null" >
        #{PERIOD_TYPE},
      </if>
      <if test="WHO_WINS != null" >
        #{WHO_WINS},
      </if>
      <if test="ENABLE_TRIGGER != null" >
        #{ENABLE_TRIGGER},
      </if>
      <if test="ENTITY_NAME != null" >
        #{ENTITY_NAME},
      </if>
      <if test="SP_NAME != null" >
        #{SP_NAME},
      </if>
      <if test="ENTITY_TYPE != null" >
        #{ENTITY_TYPE},
      </if>
      <if test="SYS_REPLICATION != null" >
        #{SYS_REPLICATION},
      </if>
      <if test="ERR_SUSPENDED != null" >
        #{ERR_SUSPENDED},
      </if>
      <if test="ERR_PERIOD != null and ERR_PERIOD != emptyBigDecimalValue" >
        #{ERR_PERIOD},
      </if>
      <if test="ERR_PERIOD_TYPE != null" >
        #{ERR_PERIOD_TYPE},
      </if>
      <if test="ERR_STOP_AFTER != null and ERR_STOP_AFTER != emptyBigDecimalValue" >
        #{ERR_STOP_AFTER},
      </if>
      <if test="PERIOD_DAY != null and PERIOD_DAY != emptyBigDecimalValue" >
        #{PERIOD_DAY},
      </if>
      <if test="REPL_INSERT != null and REPL_INSERT != emptyBigDecimalValue" >
        #{REPL_INSERT},
      </if>
      <if test="REPL_UPDATE != null and REPL_UPDATE != emptyBigDecimalValue" >
        #{REPL_UPDATE},
      </if>
      <if test="REPL_DELETE != null and REPL_DELETE != emptyBigDecimalValue" >
        #{REPL_DELETE},
      </if>
      <if test="POP_INSERT != null and POP_INSERT != emptyBigDecimalValue" >
        #{POP_INSERT},
      </if>
      <if test="POP_UPDATE != null and POP_UPDATE != emptyBigDecimalValue" >
        #{POP_UPDATE},
      </if>
      <if test="POP_DELETE != null and POP_DELETE != emptyBigDecimalValue" >
        #{POP_DELETE},
      </if>
      <if test="TIME_OUT != null and TIME_OUT != emptyBigDecimalValue" >
        #{TIME_OUT},
      </if>
      <if test="ADD_DATE1 != null" >
        #{ADD_DATE1},
      </if>
      <if test="ADD_NUMBER1 != null and ADD_NUMBER1 != emptyBigDecimalValue" >
        #{ADD_NUMBER1},
      </if>
      <if test="ADD_STRING1 != null" >
        #{ADD_STRING1},
      </if>
      <if test="RELATIVE_FLAG != null and RELATIVE_FLAG != emptyBigDecimalValue" >
        #{RELATIVE_FLAG},
      </if>
      <if test="INT_LEVEL != null" >
        #{INT_LEVEL},
      </if>
      <if test="EXT_SP_NAME != null" >
        #{EXT_SP_NAME},
      </if>
      <if test="ENTITY_ORDER != null and ENTITY_ORDER != emptyBigDecimalValue" >
        #{ENTITY_ORDER},
      </if>
      <if test="ERR_PROMPT != null and ERR_PROMPT != emptyBigDecimalValue" >
        #{ERR_PROMPT},
      </if>
      <if test="ERR_TYPE != null and ERR_TYPE != emptyBigDecimalValue" >
        #{ERR_TYPE},
      </if>
      <if test="UPD_CNT_FLAG != null and UPD_CNT_FLAG != emptyBigDecimalValue" >
        #{UPD_CNT_FLAG},
      </if>
      <if test="SP_SPECIFICATIONS != null" >
        #{SP_SPECIFICATIONS},
      </if>
      <if test="QUERY_SPECIFICATIONS != null" >
        #{QUERY_SPECIFICATIONS},
      </if>
      <if test="QUERY_SPECIFICATIONS1 != null" >
        #{QUERY_SPECIFICATIONS1},
      </if>
      <if test="QUERY_SPECIFICATIONS2 != null" >
        #{QUERY_SPECIFICATIONS2},
      </if>
      <if test="QUERY_SPECIFICATIONS3 != null" >
        #{QUERY_SPECIFICATIONS3},
      </if>
      <if test="CRITERIA != null" >
        #{CRITERIA},
      </if>
      <if test="TMP_COLUMNS != null" >
        #{TMP_COLUMNS},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateSYNC_ENTITY_PARAMETERS" >
    update SYNC_ENTITY_PARAMETERS
    <set >
      <if test="TO_BR != null" >
        <choose >
          <when test="TO_BR == emptyBigDecimalValue" >
            TO_BR = NULL ,
          </when>
          <otherwise >
            TO_BR = #{TO_BR},
          </otherwise>
        </choose>
      </if>
      <if test="REPL_TYPE != null" >
        <choose >
          <when test="REPL_TYPE == emptyBigDecimalValue" >
            REPL_TYPE = NULL ,
          </when>
          <otherwise >
            REPL_TYPE = #{REPL_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="REPL_DATETIME != null" >
        REPL_DATETIME = #{REPL_DATETIME},
      </if>
      <if test="PERIOD != null" >
        <choose >
          <when test="PERIOD == emptyBigDecimalValue" >
            PERIOD = NULL ,
          </when>
          <otherwise >
            PERIOD = #{PERIOD},
          </otherwise>
        </choose>
      </if>
      <if test="PERIOD_TYPE != null" >
        PERIOD_TYPE = #{PERIOD_TYPE},
      </if>
      <if test="WHO_WINS != null" >
        WHO_WINS = #{WHO_WINS},
      </if>
      <if test="ENABLE_TRIGGER != null" >
        ENABLE_TRIGGER = #{ENABLE_TRIGGER},
      </if>
      <if test="ENTITY_NAME != null" >
        ENTITY_NAME = #{ENTITY_NAME},
      </if>
      <if test="SP_NAME != null" >
        SP_NAME = #{SP_NAME},
      </if>
      <if test="ENTITY_TYPE != null" >
        ENTITY_TYPE = #{ENTITY_TYPE},
      </if>
      <if test="SYS_REPLICATION != null" >
        SYS_REPLICATION = #{SYS_REPLICATION},
      </if>
      <if test="ERR_SUSPENDED != null" >
        ERR_SUSPENDED = #{ERR_SUSPENDED},
      </if>
      <if test="ERR_PERIOD != null" >
        <choose >
          <when test="ERR_PERIOD == emptyBigDecimalValue" >
            ERR_PERIOD = NULL ,
          </when>
          <otherwise >
            ERR_PERIOD = #{ERR_PERIOD},
          </otherwise>
        </choose>
      </if>
      <if test="ERR_PERIOD_TYPE != null" >
        ERR_PERIOD_TYPE = #{ERR_PERIOD_TYPE},
      </if>
      <if test="ERR_STOP_AFTER != null" >
        <choose >
          <when test="ERR_STOP_AFTER == emptyBigDecimalValue" >
            ERR_STOP_AFTER = NULL ,
          </when>
          <otherwise >
            ERR_STOP_AFTER = #{ERR_STOP_AFTER},
          </otherwise>
        </choose>
      </if>
      <if test="PERIOD_DAY != null" >
        <choose >
          <when test="PERIOD_DAY == emptyBigDecimalValue" >
            PERIOD_DAY = NULL ,
          </when>
          <otherwise >
            PERIOD_DAY = #{PERIOD_DAY},
          </otherwise>
        </choose>
      </if>
      <if test="REPL_INSERT != null" >
        <choose >
          <when test="REPL_INSERT == emptyBigDecimalValue" >
            REPL_INSERT = NULL ,
          </when>
          <otherwise >
            REPL_INSERT = #{REPL_INSERT},
          </otherwise>
        </choose>
      </if>
      <if test="REPL_UPDATE != null" >
        <choose >
          <when test="REPL_UPDATE == emptyBigDecimalValue" >
            REPL_UPDATE = NULL ,
          </when>
          <otherwise >
            REPL_UPDATE = #{REPL_UPDATE},
          </otherwise>
        </choose>
      </if>
      <if test="REPL_DELETE != null" >
        <choose >
          <when test="REPL_DELETE == emptyBigDecimalValue" >
            REPL_DELETE = NULL ,
          </when>
          <otherwise >
            REPL_DELETE = #{REPL_DELETE},
          </otherwise>
        </choose>
      </if>
      <if test="POP_INSERT != null" >
        <choose >
          <when test="POP_INSERT == emptyBigDecimalValue" >
            POP_INSERT = NULL ,
          </when>
          <otherwise >
            POP_INSERT = #{POP_INSERT},
          </otherwise>
        </choose>
      </if>
      <if test="POP_UPDATE != null" >
        <choose >
          <when test="POP_UPDATE == emptyBigDecimalValue" >
            POP_UPDATE = NULL ,
          </when>
          <otherwise >
            POP_UPDATE = #{POP_UPDATE},
          </otherwise>
        </choose>
      </if>
      <if test="POP_DELETE != null" >
        <choose >
          <when test="POP_DELETE == emptyBigDecimalValue" >
            POP_DELETE = NULL ,
          </when>
          <otherwise >
            POP_DELETE = #{POP_DELETE},
          </otherwise>
        </choose>
      </if>
      <if test="TIME_OUT != null" >
        <choose >
          <when test="TIME_OUT == emptyBigDecimalValue" >
            TIME_OUT = NULL ,
          </when>
          <otherwise >
            TIME_OUT = #{TIME_OUT},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_DATE1 != null" >
        ADD_DATE1 = #{ADD_DATE1},
      </if>
      <if test="ADD_NUMBER1 != null" >
        <choose >
          <when test="ADD_NUMBER1 == emptyBigDecimalValue" >
            ADD_NUMBER1 = NULL ,
          </when>
          <otherwise >
            ADD_NUMBER1 = #{ADD_NUMBER1},
          </otherwise>
        </choose>
      </if>
      <if test="ADD_STRING1 != null" >
        ADD_STRING1 = #{ADD_STRING1},
      </if>
      <if test="RELATIVE_FLAG != null" >
        <choose >
          <when test="RELATIVE_FLAG == emptyBigDecimalValue" >
            RELATIVE_FLAG = NULL ,
          </when>
          <otherwise >
            RELATIVE_FLAG = #{RELATIVE_FLAG},
          </otherwise>
        </choose>
      </if>
      <if test="INT_LEVEL != null" >
        INT_LEVEL = #{INT_LEVEL},
      </if>
      <if test="EXT_SP_NAME != null" >
        EXT_SP_NAME = #{EXT_SP_NAME},
      </if>
      <if test="ENTITY_ORDER != null" >
        <choose >
          <when test="ENTITY_ORDER == emptyBigDecimalValue" >
            ENTITY_ORDER = NULL ,
          </when>
          <otherwise >
            ENTITY_ORDER = #{ENTITY_ORDER},
          </otherwise>
        </choose>
      </if>
      <if test="ERR_PROMPT != null" >
        <choose >
          <when test="ERR_PROMPT == emptyBigDecimalValue" >
            ERR_PROMPT = NULL ,
          </when>
          <otherwise >
            ERR_PROMPT = #{ERR_PROMPT},
          </otherwise>
        </choose>
      </if>
      <if test="ERR_TYPE != null" >
        <choose >
          <when test="ERR_TYPE == emptyBigDecimalValue" >
            ERR_TYPE = NULL ,
          </when>
          <otherwise >
            ERR_TYPE = #{ERR_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="UPD_CNT_FLAG != null" >
        <choose >
          <when test="UPD_CNT_FLAG == emptyBigDecimalValue" >
            UPD_CNT_FLAG = NULL ,
          </when>
          <otherwise >
            UPD_CNT_FLAG = #{UPD_CNT_FLAG},
          </otherwise>
        </choose>
      </if>
      <if test="SP_SPECIFICATIONS != null" >
        SP_SPECIFICATIONS = #{SP_SPECIFICATIONS},
      </if>
      <if test="QUERY_SPECIFICATIONS != null" >
        QUERY_SPECIFICATIONS = #{QUERY_SPECIFICATIONS},
      </if>
      <if test="QUERY_SPECIFICATIONS1 != null" >
        QUERY_SPECIFICATIONS1 = #{QUERY_SPECIFICATIONS1},
      </if>
      <if test="QUERY_SPECIFICATIONS2 != null" >
        QUERY_SPECIFICATIONS2 = #{QUERY_SPECIFICATIONS2},
      </if>
      <if test="QUERY_SPECIFICATIONS3 != null" >
        QUERY_SPECIFICATIONS3 = #{QUERY_SPECIFICATIONS3},
      </if>
      <if test="CRITERIA != null" >
        CRITERIA = #{CRITERIA},
      </if>
      <if test="TMP_COLUMNS != null" >
        TMP_COLUMNS = #{TMP_COLUMNS},
      </if>
    </set>
    where BR_CODE = #{BR_CODE}
      and ENTITY_CODE = #{ENTITY_CODE}
  </sql>
  <update id="updateSYNC_ENTITY_PARAMETERS" parameterType="com.path.dbmaps.vo.SYNC_ENTITY_PARAMETERSVOWithBLOBs" >
    <include refid="sql_updateSYNC_ENTITY_PARAMETERS" />
  </update>
</mapper>