<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="appSetMapper">
<resultMap id="resAppSetListMap" type="com.path.imco.vo.appsettings.AppSetCO">
		<result property="syncintlevelVO.APP_NAME" column="APP_NAME"/>
		<result property="syncintlevelVO.WINDOW_REFERENCE" column="WINDOW_REFERENCE"/>
		<result property="syncintlevelVO.WINDOW_NAME" column="WINDOW_NAME"/>
		<result property="syncintlevelVO.WINDOW_LABEL" column="WINDOW_LABEL"/>
		<result property="syncintlevelVO.DWO_NAME" column="DWO_NAME"/>
		<result property="syncintlevelVO.DWO_LABEL" column="DWO_LABEL"/>
		<result property="syncintlevelVO.COLUMN_NAME" column="COLUMN_NAME"/>
		<result property="syncintlevelVO.COLUMN_LABEL" column="COLUMN_LABEL"/>
		<result property="syncintlevelVO.STATUS" column="STATUS"/>
		<result property="syncintlevelVO.INT_LEVEL" column="INT_LEVEL"/>
		<result property="syncintlevelVO.TIME_OUT" column="TIME_OUT"/>
		<result property="syncintlevelVO.COLUMN_NBR" column="COLUMN_NBR"/>
		<result property="syncintlevelVO.COLUMN_RELATION_NBR" column="COLUMN_RELATION_NBR"/>
	</resultMap>
	<select id="returnAppSetList" parameterType="com.path.imco.vo.appsettings.AppSetSC" resultMap="resAppSetListMap">
		<include refid="servicesCommon.commonGridWrpBefFlip"/>
		<include refid="queryAppSetSQL"/>
		<include refid="servicesCommon.commonGridWrpAftFlip"/>
	    <include refid="servicesCommon.commmonGridWrpFlipClose"/>	
	</select>
	<select id="returnAppSetListCount" parameterType="com.path.imco.vo.appsettings.AppSetSC" resultType="int">
		<include refid="servicesCommon.commonGridWrpBefCnt"/>
		<include refid="queryAppSetSQL"/>
		<include refid="servicesCommon.commonGridWrpAftCnt"/>
	    <include refid="servicesCommon.commonGridCountWrpClose"/>
	</select>
	<sql id="queryAppSetSQL">
		  SELECT SYNC_INT_LEVELS.APP_NAME,   
		         SYNC_INT_LEVELS.WINDOW_REFERENCE,   
		         SYNC_INT_LEVELS.WINDOW_NAME,   
		         SYNC_INT_LEVELS.WINDOW_LABEL,   
		         SYNC_INT_LEVELS.DWO_NAME,   
		         SYNC_INT_LEVELS.DWO_LABEL,   
		         SYNC_INT_LEVELS.COLUMN_NAME,   
		         SYNC_INT_LEVELS.COLUMN_LABEL,   
		         SYNC_INT_LEVELS.STATUS,   
		         SYNC_INT_LEVELS.INT_LEVEL,   
		         SYNC_INT_LEVELS.TIME_OUT,   
		         SYNC_INT_LEVELS.COLUMN_NBR,   
		         SYNC_INT_LEVELS.COLUMN_RELATION_NBR  
		    FROM SYNC_INT_LEVELS   

	</sql>
	
	
	<select id="returnGroupSetList" parameterType="com.path.imco.vo.appsettings.AppSetSC" resultMap="resAppSetListMap">
		<include refid="servicesCommon.commonGridWrpBefFlip"/>
		<include refid="querygroupSetSQL"/>
		<include refid="servicesCommon.commonGridWrpAftFlip"/>
	    <include refid="servicesCommon.commmonGridWrpFlipClose"/>	
	</select>
		<sql id="querygroupSetSQL">
		  SELECT SYNC_INT_LEVELS.APP_NAME,  
		         SYNC_INT_LEVELS.WINDOW_REFERENCE,   
		         SYNC_INT_LEVELS.WINDOW_NAME,   
		         SYNC_INT_LEVELS.WINDOW_LABEL,   
		         SYNC_INT_LEVELS.DWO_NAME,   
		         SYNC_INT_LEVELS.DWO_LABEL,   
		         SYNC_INT_LEVELS.COLUMN_NAME,   
		         SYNC_INT_LEVELS.COLUMN_LABEL,   
		         SYNC_INT_LEVELS.STATUS,   
		         SYNC_INT_LEVELS.INT_LEVEL,   
		         SYNC_INT_LEVELS.TIME_OUT,   
		         SYNC_INT_LEVELS.COLUMN_NBR,   
		         SYNC_INT_LEVELS.COLUMN_RELATION_NBR  
		    FROM SYNC_INT_LEVELS   

	</sql>
</mapper>